.logo {
  width: 30px;
  height: auto;
}

.arrow {
  width: 20px;
  height: auto;
}

.text {
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
  color: #c4c5c5;
  margin-bottom: 30px;
}

.cardWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}

.signinWrapper {
  margin-top: 20px;
}

.hasInvite {
  color: #0077ff;
}
