.button {
  background-color: #0077ff;
  padding: 5px 20px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  margin: 0 auto;
  color: white;
  font-size: 18px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: #014a9c;
  cursor: pointer;
}

.arrow {
  width: 40px;
  height: auto;
  font-weight: bold;
}
